/*
 * portal-usc-t2.css
 * Temporary T2 LM Portal CSS
 */

/*
 * Import original rice portal css/*
 */
/* @import url("../../rice-portal/css/portal.css");
*/
@import url("portal.css");

/*
 * Replace rice-portal/css/portal.css Rice Portal images
 */

#header h1.kfs { 
	background-image:url(../images/logo-usc-t2-lm.png); 
	width: 300px; 
}
#footer-copyright { 
	background-image:url(../images/os-kuali-usc.png);
	background-position:right 20px;
}

/*
 * Override rice-portal/css/portal.css Rice Portal global styles
 */
div.tabposition { left:200px; }
#tabs li.green { margin:-1px 3px; padding:0px 0px 0px 8px; }
#tabs li.red { background-color:#A02919; }
#tabs a.red:hover { color: #ffcc00; }

div.header2 { background-color: #ffffff;  }
 
